* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

header {
    background-image: url("images/person.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);

}

#listOfNav {
    margin: 20px;
    float: right;

}

#listOfNav li {
    color: rgb(88, 70, 70);
    font-size: 20px;
    list-style-type: none;
    display: inline-block;
    margin: 0px 10px 0px 20px;
}

nav li a {
    color: aliceblue;
}

nav li a i {
    color: rgb(255, 255, 255);
}

nav li a:hover,
i:hover {
    color: rgb(22, 174, 188);
    transition-duration: 1s;
}

.logo {
    margin: 10px 60px;
}

.logIn {

    margin-left: 240px;
}

.contentOfHeader {
    color: rgb(255, 255, 255);
    padding-top: 90px;
    text-align: center;
}

.pWelcome {
    margin: 30px;
    font-size: 27px;
}

.hOfHeader {
    font-size: 80px;
}

.pParagraph {
    margin: 60px 30px;
    font-size: 18px;
}

.btn1 {
    padding: 15px;
    margin-bottom: 40px;
    border-radius: 10px;
    border: none;
}

.btn1 a {
    color: black;
}

.btn1:hover {
    box-shadow: 1px 10px 30px 0px rgba(255, 255, 255, 0.5);
}

/* ***************Section one : Welcome **************/
.sec1 {
    text-align: center;
    margin: 80px 0px 40px 0px;
}

.sec1 h2 {
    margin-bottom: 40px;
    font-size: 35px;
    color: rgb(54, 54, 54);
}

.sec1 p {
    width: 60%;
    height: 100px;
    margin: auto;
    line-height: 27px;
    font-size: 20px;
    color: rgb(92, 93, 93);
}

hr {
    width: 8%;
    margin: 30px 0;
}

/* *****************Section 2******************* */
.sec2 {
    margin: 30px 0px;
    padding: 60px;
    background-color: rgb(244, 244, 244);
}

.imgOfSec2 {
    width: 45%;
    text-align: center;
    float: left;
}

.imgOfSec2 img {
    width: 90%;
}

.headerOfSec2 {
    font-size: 33px;
    margin-bottom: 20px;
}

.contentOfSec2 {
    line-height: 27px;
    margin-left: 550px;
    padding: 40px;
    color: rgb(96, 96, 96);
}

/******************* section 3 of inages      ***********          */
.sec3 {
    text-align: center;
    background-color: rgb(255, 255, 255);

}

.headerOfSec3,
.headerOfSec4 {
    padding-top: 60px;
}

.headerOfSec3 h2,
.headerOfSec4 h2 {
    text-align: center;
    font-size: 35px;
}

.headerOfSec3 p,
.headerOfSec4 p {
    text-align: center;
    font-size: 20px;
    color: rgb(133, 133, 133);
    margin: 10px 0px 20px 0px;
}

.contentOfSec3 ul li {
    margin: 15px;
    display: inline-block;
}

.imgsOfSec3 {
    padding: 40px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.contentOfSec3 a {
    color: rgb(87, 87, 87);
    font-size: 17px;
}

.contentOfSec3 li a:hover {
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-radius: 10px;
    background-color: #000000;
    padding: 5px;
    transition-duration: .5s;
}

.btn2,
.btn3 {
    width: 130px;
    margin: 20px 45%;
    text-align: center;
    background-color: rgb(53, 57, 58);
    color: aliceblue;
    padding: 15px;
    border-radius: 10px;
    border: none;
}

.btn3 {
    width: 170px;
    margin-top: 50px;
}

.btn2 a,
.btn3 a {
    color: aliceblue;
}

.btn2:hover,
.btn3:hover {
    box-shadow: 2px 10px 30px 0px rgba(0, 0, 0, 0.5);
    background-color: white;
    color: black;
}

.btn2:hover a,
.btn3:hover a {
    color: #000000;
}

/* Section 4 of divs of images */
.sec4 {
    background-color: rgb(242, 242, 242);
}

.contentOfSec4 {
    margin-left: 50px;
}

.contentOfSec4 div a {
    font-size: 20px;
    color: rgb(62, 62, 62);
}

.contentOfSec4 div img {
    text-align: center;
    width: 100%;
}

.contentOfSec4 div {
    width: 30%;
    height: 500px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    display: inline-block;
}

.conten4OfImg .p1 {
    margin: 15px 0px;
    color: rgb(180, 180, 180);
    font-size: 14px;
}

.conten4OfImg .p2 {
    line-height: 24px;
    color: rgb(90, 89, 89);
    font-size: 17px;
    margin: 20px 0px;
}

.contentOfSec4 div .moreRead {
    color: rgb(65, 181, 181);
}

footer {
    padding: 30px 0px;
    text-align: center;
    background-color: rgb(28, 27, 27);
    background-repeat: no-repeat;
    background-size: auto;
}

footer a,
footer p {
    color: rgb(65, 181, 181);
}

.social {
    margin: 30px;
    width: 50px;
}

.arrow {
    font-size: 30px;
    color: rgb(22, 174, 188);
    position: fixed;
    bottom: 20px;
    right: 20px;
}

/* ********************* page login ********************* */
#bodyOfLogin {
    background-color: aliceblue;
    padding: 60px;
    background-image: url(/images/bg-01.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
}

.backgroundLogin {
    margin-top: 80px;
    background-color: rgb(255, 255, 255);
    height: 450px;
    width: 300px;
    box-shadow: 1px 1px 6px 2px #888888;
    margin: auto;
    text-align: center;
    border-radius: 15px;
}

form {
    padding-top: 70px;
}

img {
    margin-bottom: 20px;
}

input {
    padding: 10px 20px;
    margin: 15px 0px;
    border: none;
    background-color: #c4c4c4;
    border-radius: 20px;
}

.headerFooter {
    color: rgb(82, 82, 185);
    margin-bottom: 20px;
}

button {
    margin-top: 20px;
    padding: 10px 40px;
    border-radius: 19px;
    border: none;
    box-shadow: 1px 1px 1px 2px;
}

.backgroundLogin button:hover {
    box-shadow: 1px 10px 18px 0px rgba(0, 0, 0, 0.388);
    background-color: #000000;
    color: aliceblue;
}

h2 {
    color: black;
}

a {
    text-decoration: none;
}